* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'lucida grande' san-serif arial;
}

a, a:visited {
  color: #609;
  text-decoration: none;
}

#container {
  position: relative;
  height: 100%;
  min-height: 100%;
}

#header, #footer {
  background-color: #690;
  color: #fff;
}

#header {
  padding: 1.4em;
  height: 2.4em;
}

#banner h2 {
  font-size: .8em;
}

#banner {
  float: left;
}

#login_controls {
  float: right;
  margin-top: -1em;
}

#navigation {
  clear: left;
  margin-left: 40%;
}

#navigation ul li {
  display: inline;
  list-type: none;
}

#navigation ul li a {
  display: block;
  float: left;
  margin-top: -0.6em;
  margin-right: 1em;
  padding: .6em 1.4em;
  padding-bottom: .3em;
  background-color: #609;
  color: #fff;
  text-decoration: none;
}

#navigation ul li a.selected {
  background-color: #fff;
  color: #609;
  text-decoration: none;
}

#content {
  position: relative;
  padding: 1em;
  padding-bottom: 40px;
}

#main {
  float: right;
  width: 75%;
}

#main p, #main h1, #main h2 {
  margin-bottom: 1em;
}

#flash .notice, #flash .error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash .notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash .error {
  background-color: #FCC;
  border: solid 1px #C66;
}

img {
  margin: 1em;
}

img.left {
  float: left;
}

img.right {
  float: right;
}

label {
  margin-bottom: .6em;
}

input {
  margin-top: .4em;
  margin-right: .6em;
  padding: .4em;
  font-size: 1.2em;
}

#sidebar {
  float: left;
  height: 20em;
  width: 18%;
  padding: 1em;
  background-color: #DAF;
}

#footer {
  text-align: center;
  padding-top: 1em;
  font-size: .6em;
  position:absolute;
  bottom:0;
  width:100%;
  height:40px;
}